[2016-02-09 10:12] djavan-bertrand opened #1 "Typo in readme"
Hi,

Just to signal you that there is a typo in the title of the readme
Andorid Network Tools
Should be
Android Network Tools

Regards,
Djavan

[2016-02-09 12:02] stealthcopter commented on #1
Cheers :)

[2016-02-09 12:02] #1 closed

[2016-02-11 10:19] hamen opened #3 "Connectivity status"
Hi Matthew,
do you think that the `Ping` utility could be used as connection availability utility? Do you see any downside? Thank you.

[2016-02-11 11:06] stealthcopter commented on #3
Hi Hamen,

Yes, it could be used to test for connectivity. The only downside I can think of would be that you need to provide an address that you know will permanently be up (and is responding to pings, some servers do not respond), so you could have a few 'always up' known hosts to ping. Or you could just use the address of a server relevant to your project, in that case, all you really care abou

[2016-02-11 11:10] hamen commented on #3
:+1: Thank you

[2016-02-11 11:10] #3 closed

[2016-10-28 08:58] cc1218 opened #4 "Detect Internet connection"
Hi,
I am using your library to detect whether there is an Internet connection.

On some situations, the Mobile Data is enabled, but my app cannot connect to the Internet, the PingResult returns isReachable=true four fifths probability.

eg: on MIUI ROM, forbidden network through Network Control app.

[2016-10-28 10:52] stealthcopter commented on #4
Hello,

Are you saying the Ping class is returning an incorrect result? As it may be that ping is indeed working 4 /5 times but a webpage cannot be loaded. More information please :)

[2016-12-09 11:20] SemenovAlexander opened #5 "Redundant tags in library manifest"
Hi, thanks for great library.

I've faced issues, while attaching you library:
1/ Support library in my project conflicted with version, added in library and I had to exclude it - you should make support library dependency `provided` instead of `compile`

2/ Manifest  merger fails on allowBackup attribute. Probably, you should remove application tag from library manifest completely.
Error as follo

[2016-12-09 12:12] stealthcopter commented on #5
Thanks for the tip, I've made the changes and published a new release :)

[2016-12-09 12:13] stealthcopter commented on #5
Thanks for the tip, I've made the changes and published a new release :)

[2016-12-09 12:13] #5 closed

[2016-12-09 19:54] IzzySoft opened #7 "Attach APK to releases?"
Would you mind attaching the corresponding `.apk` file to each release on the `releases/` page – for folks who cannot or do not want to use Playstore? Thanks in advance!

[2016-12-09 21:34] stealthcopter commented on #7
The application is just an example of what the library I've written is capable of. I'm not sure publishing the apk would be that useful as the app isn't very useful in itself. I'd recommend checking out PortDroid which is a more complete network analysis application which I have written using this library.

Out of interest what app store do you use?

[2016-12-09 21:59] IzzySoft commented on #7
I've just found it on my daily GH-Analysis today, and added it [here](https://android.izzysoft.de/applists/category/named/network_admin_info#group_383) and [here](https://android.izzysoft.de/applists/category/named/network_admin_sniffspoof#group_391). It's decently sized, permission friendly (the only IP-Toolbox there just requesting the single required permission, in fact). So I was considering t

[2016-12-20 13:02] SemenovAlexander opened #8 "Library pings hostname instead of IP"
Because of calling `getHostName()` instead of `getHostAddress()` [on this line](https://github.com/stealthcopter/AndroidNetworkTools/blob/master/library/src/main/java/com/stealthcopter/networktools/ping/PingNative.java#L23), ping will always try to use hostname instead of ip, even if user intended to ping IP directly.

It's not an issue if you parse ip from String input, however, if you try to per

[2016-12-20 15:37] stealthcopter commented on #8
Ok, good find. I suggest that I change the PingNative code to something like below to catch for this and to also add support for ipv6 addresses as the same time.

[code]

Let me know if you have any thoughts on the code, otherwise I'll included in into the library shortly.

Thanks :)

[2016-12-20 15:41] stealthcopter commented on #7
If you take privacy that seriously, you should probably not be installing apk files from the internet as they are more likely to be malicious than those found in app stores. I recommend building from source is the best method of ensuring that there is no malicious code in the apks that you install.

But I will have a look to see if the continuous integration system I use can automatically upload a

[2016-12-20 15:44] SemenovAlexander commented on #8
Yeap, code looks great.

I think, it would be nice to let user some config option in `Ping` object builder to use hostname vs hostaddress during native ping.

 Glad I could help :)

[2016-12-20 21:22] IzzySoft commented on #7
@stealthcopter Yes, I take privacy seriously. And of course I'm aware of other risks, which is why I do not use just "any APK found on the net", plus also run the downloads through a bunch of scanners. I take all the precautions known to me – and I don't like Google snooping on my every data with those strange  "we owe you" so-called "privacy rules" `</rant>™` :stuck_out_tongue_winking_eye: There

[2017-01-12 10:16] Reegan01 opened #9 "How to I get round trip times in milli-seconds?"
Hi friend,  You are done awesome job.

I want a info from you. How to get round trip times Minimum, Maximum and Average in milli-seconds

[2017-01-12 10:37] stealthcopter commented on #9
Currently this isn't implemented in the library but you can easily modify how you call the library to achieve this as follows:

[code]

In the next release I will add these ping statistics to the onFinished call

[2017-01-12 10:43] stealthcopter commented on #4
Going to close this as no clarification given. Please feel free to open it again if you feel it's needed. Thanks

[2017-01-12 10:43] #4 closed

[2017-01-12 11:08] Reegan01 commented on #9
Thanks a lot for your immediate awesome response and it's working correctly.

And sorry for this disturb, I have another one request  :
Can I able to calculate Lost Packets in percentage?
Send and Received packets are I can get from `.setTimes(5)` method. 5 is may send and received packets. But calculate lost packets?

[2017-01-12 11:48] stealthcopter commented on #9
From the above example you'd just keep track the number of times the ping has an error. If we use the same code from the example above it would become:

[code]

Note that it keeps track of the number of pings inside the PingListener rather than just using the value set in setTimes(..). This is in case you call cancel while the ping command is running and onFinished is called before achieving the n

[2017-01-30 15:02] Reegan01 commented on #9
I tried to convert long values to two digit milliseconds But it not working. I tried many ways to get two digit like 23.34 ms. please help me to convert this.

`long minPingTimeMillis;
  long maxPingTimeMillis;`

`String.format("%.2f ms",minPingTimeMillis)`

[2017-01-30 16:03] stealthcopter commented on #9
A `long` doesn't have any decimal places, which is probably why you are struggling.

`String.format("%d ms",minPingTimeMillis)`

If you want decimal places, I'd suggest using a double instead.

[2017-03-07 17:09] kumarjitendra opened #10 "Gradle project sync failed"
Hello ,
As per you recommendation when i use this
compile 'com.github.stealthcopter:AndroidNetworkTools:0.1.2' in dependencies of build.gradle  i have gradle project sync failed .
What is the possible solution to use your library please .
Thanks
Jitendra

![gradle project sync failed -ping](https://cloud.githubusercontent.com/assets/7716003/23668368/2047cc2e-0361-11e7-9a4c-7544d1dfef8a.PNG)

[2017-03-07 17:30] stealthcopter commented on #10
Have you remembered to add the remote maven url?

    repositories {
        maven {
            url "https://jitpack.io"
        }
    }

If that's not the problem can you post your whole gradle file?

Thanks

[2017-03-08 14:59] kumarjitendra commented on #10
Hi stealthcopter,
As per your suggestion i added
repositories {
    maven {
        url "https://jitpack.io"
    }
}
it's working fine now :) Thanks a lot for your help .
Look forward to have more interaction to solve problems together if something comes in our way :)

[2017-03-08 15:16] stealthcopter commented on #10
no problem :)

[2017-03-08 15:16] #10 closed

[2017-03-08 15:34] Reegan01 commented on #9
sorry for this late thanks,  And I never forgot your immediate response of my questions. Thanks and God Bless

[2017-03-08 15:34] #9 closed

[2017-03-13 20:34] stealthcopter commented on #8
This is now fixed in the latest release 0.2.0

[2017-03-13 20:34] #8 closed

[2017-03-13 20:36] stealthcopter commented on #7
@IzzySoft I've just pushed a new update and attached the latest apk to the release
`https://github.com/stealthcopter/AndroidNetworkTools/releases/tag/0.2.0`

[2017-03-13 20:36] #7 closed

[2017-03-13 21:26] IzzySoft commented on #7
Thanks! Just added it to my repo now, as promised (find it [here](https://apt.izzysoft.de/fdroid/index/apk/com.stealthcotper.networktools) – where you also can see it passed my little malware tests and library checks). Note: The APK itself says it's v0.1.08:

    package: name='com.stealthcotper.networktools' versionCode='6' versionName='0.1.08' platformBuildVersionName=''

If you fix that, please

[2017-03-13 21:56] stealthcopter commented on #7
@IzzySoft Cool thanks. I like the malware checks, good work. The version number isn't currently aligned between the apk and the library itself, this is sloppy on my behalf and will be fixed when I do the next release.

[2017-03-14 08:04] IzzySoft commented on #7
If not, the corresponding update run on my end will break with "duplicate versions", and I'll have to fix that manually :scream_cat:

Glad you like the checks! Some basic protection, best as I can do. I'd really like to identify "intrusive libraries" by their names to point them out if found, but unfortunately I never found an API for that…

[2017-06-21 10:21] androidkite opened #12 "error : error, exit = 2"
hi , I use release v0.2.1 release.

I get "error : error, exit = 2"

why?

[2017-06-21 10:33] androidkite commented on #12
I find error reason was "ping: icmp open socket: Operation not permitted"

[2017-07-04 15:59] stealthcopter commented on #12
Looks like you solved this one :)

[2017-07-04 15:59] #12 closed

[2017-07-17 07:07] androsathish opened #13 "Failed to resolve : compile 'com.github.stealthcopter:AndroidNetworkTools:0.2.1'"
Gradle not working for me

compile 'com.github.stealthcopter:AndroidNetworkTools:0.2.1'

[2017-07-17 07:54] stealthcopter commented on #13
Did you remember to add jitpack like below:
[code]

[2017-07-17 11:03] androsathish commented on #13
Thank you. now it's working

[2017-07-17 13:17] stealthcopter commented on #13
no problem :)

[2017-07-17 13:17] #13 closed

[2017-09-21 10:24] alfo888 opened #14 "Is it possible to get jitter values?"
Is it possible to get jitter values with the library?

[2017-09-27 04:23] nullopp opened #15 "can i ping the IPv4 address when the device was in IPv6-only wifi"

[2017-09-27 08:15] stealthcopter commented on #14
No, I'm afraid not

[2017-09-27 08:18] stealthcopter commented on #15
I'm not an expect but I would think as it's IPv6 only that an IPv4 address would not resolve and you'd just get a timeout. I can't test this anytime soon, but if you can please post the results here to confirm. Thanks

[2017-09-30 10:47] #14 closed

[2017-10-13 22:26] MBach opened #16 "Should prefix with this"
https://github.com/stealthcopter/AndroidNetworkTools/blob/6f5ab3188846c59cf224b4783952edddc9254c03/library/src/main/java/com/stealthcopter/networktools/PortScan.java#L80

I'm creating a small app in order to play with home automation (see https://github.com/MBach/home-automation) and I have some troubles when I'm using this method. I think you should prefix with ```this``` otherwise you're just cl

[2017-10-14 08:11] #15 closed

[2017-10-14 08:22] stealthcopter commented on #16
@MBach awesome, thanks for spotting this! I've dropped the clear all together as it's unnecessary in that method. Will update and push out a new release shortly.

Thanks :+1:

[2017-10-14 13:07] stealthcopter commented on #16
Fixed in 0.2.2
https://github.com/stealthcopter/AndroidNetworkTools/releases/tag/0.2.2

[2017-10-14 13:07] #16 closed

[2017-10-17 11:55] geckogecko opened #17 "Synchronously single port scan setTimeOutMillis does not work"
I am trying to scan a single port synchronously with:
[code]

If the port to scan is closed/down this call hangs for multiple minutes and does not time out after 1000ms like expected.

Version: 0.2.1

[2017-10-23 09:59] Alamusitl opened #19 "Subnet tools (find devices on local network)"
Hi , my question is how to find devices on local network? Use the ping or have other way?

[2017-10-27 14:38] #17 closed

[2017-10-27 14:39] stealthcopter commented on #17
Awesome work, just merged it in. Thanks @geckogecko

[2017-10-29 18:55] IzzySoft commented on #7
@stealthcopter the latest release again has no `.apk` attached. Just forgotten, or not relevant?

[2017-10-30 15:10] alfo888 opened #20 "Is It possible get info about Bytes , Icmp_seq ?"
Is It possible with the library to get info about Bytes , Icmp_seq  as below?
Thanks a lot

PING localhost (127.0.0.1) 56(84) bytes of data.
64 bytes from localhost (127.0.0.1): icmp_seq=1 ttl=64 time=0.022 ms
64 bytes from localhost (127.0.0.1): icmp_seq=2 ttl=64 time=0.027 ms
64 bytes from localhost (127.0.0.1): icmp_seq=3 ttl=64 time=0.029 ms
64 bytes from localhost (127.0.0.1): icmp_seq=4 ttl=

[2017-10-31 11:13] #20 closed

[2017-10-31 11:14] alfo888 commented on #20
I get the information, thanks for the lovely library

[2017-11-03 14:54] stealthcopter commented on #19
Hi @Alamusitl Yes, currently you'd need to implement it yourself by looping over all valid addresses in the subnet and pinging to see if they are reachable.
I will have a look at adding FindSubnetDevices as a enhancement shortly

[2017-11-13 14:56] stealthcopter commented on #19
I've added finding subnet devices to version 0.3.0 and published a release. Enjoy :)

[2017-11-13 14:56] #19 closed

[2017-11-14 02:32] Alamusitl commented on #9
tks

[2017-11-14 08:58] stealthcopter commented on #7
@IzzySoft Hello, Sorry for the silence, I didn't see this. I've made some changes I think you'll be pleased about:
1. I've aligned the library and sample app version names/codes
2. I've added automatic APK uploading to github as part of my continuous integration setup so all future releases will have an APK :tada:

Thanks for helping me get this sorted!

[2017-11-14 09:43] IzzySoft commented on #7
Thanks a lot! I see the attachment was already placed yesterday, so my updater has already picked it.

Oh, and besides: library check is in place for a while now as well on my repo, with some "intrusive candidates" being pointed out (bolded, monitor-icon linked to a closer description). Not perfect, but better than nothing :wink:

[2017-11-14 10:25] stealthcopter commented on #7
Awesome, thanks :) Looks like I'm all good on the library front

[2017-11-14 12:12] IzzySoft commented on #7
Yupp – unless my scanner missed something :wink: Congrats!

[2017-11-14 13:02] alfo888 opened #22 "why the library ignore my setTimeOutMillis value?"
Hello, I set the setTimeOutMillis but the library seems to ignore my short value.

PortScan.onAddress(ipAddress).setTimeOutMillis(100).setPort(Integer.valueOf(editPortNumberString)).doScan(new PortScan.PortListener() { ...

[2017-11-14 13:19] stealthcopter commented on #22
@alfo888 This was a bug and has been fixed in the latest release, please upgrade to use 0.3.0

[2017-11-14 13:31] alfo888 commented on #22
Thanks a lot. I updated the library to version 0.3.0 and it works.

[2017-11-14 13:31] #22 closed

[2017-11-15 19:49] IzzySoft opened #26 "Latest APK broken"
Package Metadata are broken for the latest release:

[code]

Could you please check and fix? `versionCode` as well as  `versionName` are empty.

[2017-11-15 23:54] stealthcopter commented on #26
Ah crap. Thanks for spotting this, I'm surprised it compiled and created an apk with that error. Just pushing a new release out now.

[2017-11-16 00:48] IzzySoft commented on #26
I was wondering the same :wink: Thanks for the fast fix! Worked out fine, fdroidserver accepted it – [update pushed out](https://apt.izzysoft.de/fdroid/index/apk/com.stealthcotper.networktools)!

[2017-12-10 21:54] eakteam opened #27 "How to stop or cancel port scanning in middle of work ?"
Just want to know how to stop scanning ?

[2017-12-10 22:28] stealthcopter commented on #27
just call the `cancel()` method

[2017-12-10 23:07] eakteam commented on #27
Hello, thank you for your reply. I know that , i have read how it works but where to call cancel() method outside of this thread ?

[code]

I have put it inside the new Thread because it throws exception : Network on Main Thread.

[2017-12-10 23:09] eakteam commented on #27
I cannot initialize this class e.x PortScan prtsc = new PortScan(); because it says have private access.

[2017-12-10 23:22] eakteam commented on #27
I solve it by declaring PortScanner prt = null;

and after doing all ports scan i can call it by prt.cancel();

Thank you !

[2017-12-10 23:22] #27 closed

[2017-12-10 23:28] stealthcopter commented on #27
You should solve this by keeping a reference to the PortScan object that is created like so:

    // Create PortScan object
    PortScan portScan = PortScan.onAddress(....)...

    // Then call cancel when needed
    portScan.cancel()

[2017-12-15 18:45] eakteam opened #28 "Null Pointer Excepion on PortScan"
Here in this line sometimes i get NPE - cannot set boolean

[code]

i suggest to fix it by :

[code]

[2017-12-15 21:48] stealthcopter commented on #28
I don't think the crash is from the library but from your code, can you share your code here so I can help?

this - cannot be null in java
cancelled - is a primitive boolean, which cannot be null.

So the NPE can't be coming from the library.

[2017-12-18 03:45] w331472729 opened #29 "NetworkOnMainThreadException on Ping"
I'm using the ping with url.But give me a NetworkOnMainThreadException.

Here's the code:
[code]

[2017-12-19 13:06] AlexAndro1 opened #30 "Connection error"
`unable to access 'https://github.com/stealthcopter/AndroidNetworkTools.git/': Failed to connect to github.com port 443: Connection refused`

also, when import using gradle:

` Could not resolve com.github.stealthcopter:AndroidNetworkTools:0.3.8`

any ideas?

[2017-12-19 14:05] #30 closed

[2017-12-20 16:49] gelbertgel commented on #29
I have same issue

[2017-12-20 21:04] stealthcopter commented on #29
Ah this is because onAddress("www.baidu.com") will have to be resolved and will cause a network request. I will fix this in the next version.

[2017-12-21 06:48] gelbertgel opened #31 "java.net.UnknownHostException: Unable to resolve host "https://www.app.com": No address associated with hostname"
My url is unknownhost but it is reachable url.

12-21 09:40:41.296 17597-17597/? W/System.err: java.net.UnknownHostException: Unable to resolve host "https://www.app.com": No address associated with hostname
12-21 09:40:41.299 17597-17597/? W/System.err:     at java.net.Inet6AddressImpl.lookupHostByName(Inet6AddressImpl.java:125)
12-21 09:40:41.302 17597-17597/? W/System.err:     at java.net.Inet6

[2017-12-21 07:42] #31 closed

[2017-12-31 18:17] alexeyw opened #32 "PingStats: Why averageTimeTaken is multiplied by 100?"
https://github.com/stealthcopter/AndroidNetworkTools/blob/b5e77aaea1a76b10824007e5e533cabd333b42a2/library/src/main/java/com/stealthcopter/networktools/ping/PingStats.java#L16-L23

In result:

[2018-01-03 17:01] eakteam opened #33 "Subnet Scanner not showing all the devices."
Hello thanks for this great library first off. I have noticed that Subnet/LAN Scanner is not showing all the devices. I think this is happening because when it pings the IPs with NATIVE ping some type of devices returns : `no answer yet for icmp_seq` from native terminal ,but this types show be added as online devices they just don't accepts ping but they are there ....
Sorry for my low English ho

[2018-01-03 19:10] stealthcopter commented on #33
Hi @eakteam Can you try increasing the timeout of the scan to see if more devices are discovered?

    SubnetDevices.fromLocalAddress().setTimeoutMillis(5000).findDevices(new SubnetDevices.OnSubnetDeviceFound() {
        @Override
        public void onDeviceFound(Device device) {
            // Stub: Found subnet device
        }

        @Override
        public void onFinished(ArrayList<Device>

[2018-01-03 23:28] eakteam commented on #33
Hello , i just tried to set the timeout to 10000 ms  , it's the same thing. Anyway i don't think that the problem stay in the ping responding timeout. In fact your implementation work really good for devices that accept ICMP ping request , but there are some other types of devices that they don't allow that and returns "timeout" .... to try to explain well this is my implementation of LAN Scanner

[2018-01-04 14:05] stealthcopter commented on #33
Ok, so to confirm you have some devices that don't respond to ping and they cause the native ping binary to output "no answer yet for icmp_seq="?  I don't think it'd be a good idea to return a positive match in this case as this could also be the same output for a device that don't exist.

[2018-01-04 14:34] eakteam commented on #33
Yes , the problem is that you are just checking the negative or positive results of ping binary and than calculate the results. In fact you should parse and read the results before and after that calculate if they should be added or not as Online Devices. So "no answer yet for icmp_seq=" may returned from some devices which they have disabled ping feature to reply back maybe because of protecting

[2018-01-04 15:19] stealthcopter commented on #33
Ok, I understand. Can you send the full output of ping to one of these devices?

[2018-01-04 15:32] eakteam commented on #33
THIS ARE THE COMMON TERMINAL OUTPUT OF PING BINARY :

Pattern M = Pattern.compile("(^[\\d]+) bytes from ([^:]+): icmp_seq=([^ ]+) ttl=([\\d]+) time=([^ ]+) ms");
                    // Time Stats
                    Pattern M1 = Pattern.compile("^rtt [^0-9]*([\\d][^/]+)/([^/]+)/([^/]+)/([^ ]+) ms$");
                    // Host Unreachable
                    Pattern M2 = Pattern.compile("\\bFrom

[2018-01-04 16:06] stealthcopter commented on #33
Can I see the output of ping directly? like this
`oneadmin@192.168.0.2 ~ $ ping -v -i 1 192.168.0.3
PING 192.168.0.3 (192.168.0.3) 56(84) bytes of data.
64 bytes from 192.168.0.3: icmp_req=1 ttl=64 time=0.233 ms
64 bytes from 192.168.0.3: icmp_req=2 ttl=64 time=0.236 ms
64 bytes from 192.168.0.3: icmp_req=3 ttl=64 time=0.220 ms
64 bytes from 192.168.0.3: icmp_req=4 ttl=64 time=0.229 ms
64 bytes fr

[2018-01-04 16:21] eakteam commented on #33
NORMAL DEVICE PING  :

[code]

DEVICE DONT EXIST ON NETWORK :

[code]

DEVICE EXIST BUT IT DON'T ACCEPT PING ( This is not found in ur lib)

[code]

Here it returns nothing as message from ping binary.... Those type of devices should be marked as Online in the LAN.

[2018-01-18 08:52] GARBO27 opened #34 "NullPointerException v3.08"
I found a bug

Device Tested Google Pixel 2 XL (taimen), 4096MB RAM, Android 8.1

java.lang.NullPointerException:
  at libcore.io.BlockGuardOs.close (BlockGuardOs.java:91)
  at java.net.Inet6AddressImpl.icmpEcho (Inet6AddressImpl.java:270)
  at java.net.Inet6AddressImpl.isReachable (Inet6AddressImpl.java:186)
  at java.net.InetAddress.isReachable (InetAddress.java:478)
  at java.net.InetAddress.is

[2018-02-22 09:27] kibrushi opened #35 "HTC Ping error"
Dear friend, first of all thanks for this amazing library and sorry for my english.

After many tests with lot off devices i found a problem with **Htc M9**. When i make a ping request it's always return 0 and in PingResult error is always failed.

there are some examples from my logs :

[code]

So my question is if it's library bug or something going wrong with my code.
Thanks in advance.

[2018-02-25 19:21] manish4353 opened #36 "Subnet Devices : Outofmemory error and illegal access error"
Java.lang.IllegalAccessError while clicking on find subnet Devices button

java.lang.0utOfMemoryError:
at java.lang.Thread.nativeCreate (Native Method:0)
at java.lang.Thread.start (Thread.java:730)
at java.util.concurrent.ThreadPoolExecutor.addWorker
(ThreadPooIExecutor.java:941)
at java.util.concurrent.ThreadPoolExecutor.execute (Thread PoolExecutor.java:1 348)

It is working fine in my device, b

[2018-03-11 18:54] martinchodev commented on #36
Hello.

I'm having this issue as well. The exceptions are somewhat random and I was not able to catch them "from the outside".

I hope this can be fixed soon so that I can continue to use AndroidNetworkTools since it does exactly what I need <3

Cheers!

[2018-06-08 15:19] stealthcopter commented on #34
This looks like a missing Internet permission

[2018-06-08 15:19] #34 closed

[2018-06-08 15:20] stealthcopter commented on #35
Can you show the code you are using? I think it's most likely you are trying to use a native ping binary on a phone that doesn't have one.

[2018-06-15 15:16] stealthcopter commented on #36
I think this is an issue with creating too many threads at once, for a quick work around try lowering the thread count, I think the default of 255 is too high. I'm looking into a better way of handling this in the next release. Thanks!

[2018-06-16 09:44] hanjunqiang opened #37 "运行报错"
Failed to resolve: com.github.stealthcopter:AndroidNetworkTools:0.3.0

[2018-06-17 18:19] IzzySoft commented on #26
Same thing again with v0.4.0:

[code]

Could you apply the same fix again, please?

[2018-06-17 22:07] stealthcopter commented on #26
Omg, cant believe that happened again. Sorry. Have uploaded a new APK, should be working now :)

[2018-06-17 22:07] #26 closed

[2018-06-17 22:39] IzzySoft commented on #26
Thanks a lot, Matthew – and I felt the same :wink: New APK is fine now, update just gets synced to my repo.

As you now closed the issue I cannot reopen it. Let's take that as a good omen, shall we? :rofl:

[2018-06-21 14:27] robross0606 opened #40 "Set TTL on ping test?"
Is there an option somewhere to set the TTL on ping tests?

[2018-06-21 15:05] stealthcopter commented on #40
Not yet, but I will look at adding it into the next version :)

[2018-06-21 15:13] robross0606 commented on #40
See my pull request.

[2018-06-21 15:21] stealthcopter commented on #40
awesome, nice work!

[2018-06-21 15:54] stealthcopter commented on #40
Done and I've released 0.4.1 with it in! Thanks for the awesome PR

[2018-06-21 15:54] #40 closed

[2018-06-21 16:05] robross0606 commented on #40
Awesome.  Thank you for the simple library with a beautiful API.

[2018-07-04 16:49] webserveis opened #43 "Request feature: Trace Route, Lookup IP and Whois"

[2018-07-04 17:05] stealthcopter commented on #43
Traceroute - in progress
Lookup IP - simple
Whois - more difficult, will see if it's possible

[2018-07-08 19:39] SankaitLaroiya opened #44 "Ability to cancel/abort a SubnetDevices.fromLocalAddress().findDevices() call?"
Hi,
Is there any way to cancel/abort SubnetDevices.fromLocalAddress().findDevices() call? Use case would be like if I have found the device I am looking for, then I don't need the lookup to continue and cancel it.

Thanks

[2018-07-09 15:18] nikhilgarg89 commented on #33
@eakteam @stealthcopter are you able do some workaround for this?

[2018-07-09 22:11] eakteam commented on #33
I have solved it in my app by self writing all the ping class...
The workaround is :

[code]

[2018-07-12 18:06] nikhilgarg89 opened #45 "not able use this in emulator"
do you know any workaround to make it working on emulator

[2018-07-14 18:16] nambv opened #46 "UI thread blocked when find local devices in subnet"
Hi @stealthcopter , when I am using your iib to scan devices inside local network, it blocked the ui thread, make the app not responding. Can you deal with it?

[code]

Looking forward to hearing from you.
Thanks a lot!

[2018-07-15 12:44] stealthcopter commented on #45
I've tested here and I've got the sample app working fine in an emulator. What was the issue you were having running it?

[2018-07-26 15:43] nambv commented on #46
hi @stealthcopter have you fixed it yet? :D

[2018-07-30 06:11] nikhilgarg89 commented on #45
i was trying  to ping my system network address and i was not getting the response.

[2018-07-30 06:15] nikhilgarg89 opened #47 "getting FileNotFoundException in library"
W/System.err: java.io.FileNotFoundException: /proc/net/arp: open failed: EMFILE (Too many open files)
        at libcore.io.IoBridge.open(IoBridge.java:452)
        at java.io.FileInputStream.<init>(FileInputStream.java:76)
        at java.io.FileInputStream.<init>(FileInputStream.java:103)
        at java.io.FileReader.<init>(FileReader.java:66)
        at com.stealthcopter.networktools.ARPInfo.g

[2018-08-13 07:34] nikhilgarg89 commented on #46
@stealthcopter  any fix or workaround for this...

[2018-08-13 07:36] nambv commented on #46
it's been a long time ...

[2018-08-13 07:53] stealthcopter commented on #46
Sorry guys, had some life stuff get in the way. I will get this fixed today :smiley:

[2018-08-13 07:55] nambv commented on #46
@stealthcopter glad to hear it!

[2018-08-13 08:26] nambv commented on #46
@stealthcopter thank you very much! 👍

[2018-08-13 08:29] stealthcopter commented on #35
Closing as no response, please reopen if you are still having this problem

[2018-08-13 08:29] #35 closed

[2018-08-13 08:31] stealthcopter commented on #45
This is probably something to do with the networking of the emulator. If you can try in the emulator's shell and check if the system is pingable from there. Something like:

# Connect to emualtor's shell
adb shell

# Ping
ping 192.168.0.3

[2018-08-13 14:27] nikhilgarg89 commented on #46
Still issue is there in 4.2 build

[2018-08-13 15:54] stealthcopter commented on #46
@nikhilgarg89 Do you get this in the sample app? I cannot reproduce the issue.

[2018-08-13 15:57] stealthcopter commented on #47
I believe this is caused by us checking `/proc/net/arp` for the mac address each time a device is found. If there are many devices on the network it will result in wasteful re-reading. I will implement a method of caching it to prevent this error from occurring in the next build.

[2018-08-13 16:06] nikhilgarg89 commented on #46
@stealthcopter  i have not tried in sample app but implemented in my fragment
SubnetDevices.fromLocalAddress().findDevices(new SubnetDevices.OnSubnetDeviceFound() {
        @Override
        public void onDeviceFound(Device device) {
            // Stub: Found subnet device
        }

        @Override
        public void onFinished(ArrayList<Device> devicesFound) {
            // Stub: Finished s

[2018-08-13 16:27] stealthcopter commented on #46
@nikhilgarg89 ah cool, thanks for letting me know :)

[2018-08-13 16:27] #46 closed

[2018-08-14 07:00] asiontang opened #48 "ping command timeout and ttl arguments error ?"
in the `PingNative.java` code

maybe below is the right code?

Device Info:

Ping command help:

  Usage: ping [-aAbBdDfhLnOqrRUvV] [-c count] [-i interval] [-I interface]
            [-m mark] [-M pmtudisc_option] [-l preload] [-p pattern] [-Q tos]
            [-s packetsize] [-S sndbuf] [-t ttl] [-T timestamp_option]
            [-w deadline] [-W timeout] [hop1 ...] destination

[2018-08-14 08:40] stealthcopter commented on #48
@asiontang You're completely right, fixing this now! Thanks

[2018-08-14 09:01] stealthcopter commented on #48
Fixed in 0.4.3

[2018-08-14 09:01] #48 closed

[2018-08-14 09:01] stealthcopter commented on #47
Fixed in 0.4.3

[2018-08-14 09:01] #47 closed

[2018-08-22 13:04] nikedlab opened #49 "Timeout when host unreachable"
Hello! There is how I start pinging

`Ping.onAddress(domain).setDelayMillis(500).setTimeOutMillis(500).setTimes(999999999).doPing(pingListener)`

It worked fine with specified timings when host is reachable. But when I disable ICMP on my server (for test purposes) the code start working incorrectly. At least TimeOutMillis or DelayMillis reached up to 10 seconds (I don't know how to define which ti

[2018-08-24 15:02] stealthcopter commented on #49
@nikedlab Any reason you're doing 999999999 pings? That will mean you're waiting a very long time for all the pings to fail.

setDelayMillis - this is delay between sending each ping
setTimeOutMillis - this is the timeout for each ping

So with your code you'd be:
1. Sending a ping
2. Timeout after 500ms
3. Wait 500ms
4. Repeat 999999999 times

This means you'd be waiting about 31 years for all th

[2018-08-24 23:44] nikedlab commented on #49
Ok, I see. I want to do continuous ping to check network on server. Your approach is to do it in "infinity" loop with `setTimes(1)`? As I understand `setTimes` is total amount of ping requests with specified delay and timeout.
In my case I want to do every minutes pinging and notice me when server became unreachable and vice versa. That is reason why times is 999999999. Timeout and delay has 500 j

[2018-08-25 08:40] stealthcopter commented on #49
Ok, got it. So you have two choices really:

1. Implement the timing and the loop yourself, this would work well inside an asynctask or similar.

[code]

2. Use the library as before and fire your events from on the onResult method:

// This will call your method when server becomes reachable (just invert the if statement if you want when it becomes unreachable)

[code]

[2018-08-25 22:26] stealthcopter commented on #49
@nikedlab the reason for that code is that the ping command only accepts seconds as whole integers so anything <1 would not work.

[2018-09-20 09:38] punittt opened #50 "Devices names not showing"
Hi, I'm using this library to get list of devices connected to the router... it is giving me the list of IP addresses and mac addresses but not the device or at least vendor names.. I understand it is router specific also that some routers do not allow this information. But can you please add some methods to get device or vendor names? Thanks

[2018-09-20 09:41] stealthcopter commented on #50
I'm not currently aware of any free services that provide an api to lookup mac address to vendor name. If you know of any please let me know and I can add it in :)

[2018-09-20 09:50] punittt commented on #50
I'll look up any such services but there are a ton of free apps that can give out vendor names.. for example [https://play.google.com/store/apps/details?id=com.wifirouter.whousemywifi](url)  ...

And Eshareserver [https://play.google.com/store/apps/details?id=com.eshare.clientv2](url)  gives out device names too

[2018-09-20 09:52] punittt commented on #50
ok here is a free service [https://macvendors.com/api](url)

[2018-09-20 18:11] punittt commented on #50
Hey, so here [https://macvendors.co/api](url)  is the link to free API. It's available in json to lookup vendor name using Json and it's free and unlimited. Hope you can add this to your library so it'll do the entire job. Thanks

[2018-10-09 06:31] nikhilgarg89 opened #51 "App is blocking the UI and crashing in android 6.0 and below"
App is blocking the UI and crashing in android 6.0 and below when i am doing subnet devices. this is reproducible in sample code.

[2018-10-14 06:40] nikhilgarg89 commented on #51
@stealthcopter  any workaround possible.. ??

[2018-10-18 11:38] nikhilgarg89 commented on #51
@stealthcopter your help is appreciated

[2018-11-03 05:08] nikhilgarg89 commented on #51
@stealthcopter your help is appreciated

[2018-11-22 05:50] saptan opened #52 "The application does not see the ip devices in the local wifi network"
Hi!
Your library is amazing! But unfortunately it does not work correctly on some devices. For example, on such phones as **Samsung Galaxy A5** (Android 8.0) and **Samsung Galaxy A6** (Android 8.0), the library finds only the ip of the router in the wifi network, but it cann`t find other devices. Thus, for example, an application like this https://play.google.com/store/apps/details?id=com.overlook

[2019-01-28 09:20] ravishekhar88 opened #53 "Native ping java Process streams not closed"
Hi,

In the PingNative::ping method, the process' input/output/error streams are not closed after completion.

While using this library in Android API level 23 (Marshmallow), it was leading to a spike in number of pipe file descriptors, eventually crashing the user App as the number of FDs were exceeding the allowed limit per process, if GC was not invoked at that instant. However, I did not face

[2019-01-31 09:31] jonadem opened #54 "Publish the application on F-Droid"
Be the first network tools application on [F-Droid](https://f-droid.org/) ! ;-)

[2019-01-31 10:56] stealthcopter commented on #54
@IzzySoft used to publish it from his website to F-Droid automatically, not sure why it's stopped picking it up. Might want to get in touch with him?

[2019-01-31 11:35] IzzySoft commented on #54
@stealthcopter where did I stop? Your last tagged version is 0.4.3 – which can be [found in my repo](https://apt.izzysoft.de/fdroid/index/apk/com.stealthcotper.networktools).

But apart from that, what @jonadem asks for is getting it into the *official* repo. I see nothing speaking against that (except that for auto-updates there, you'd need to put versionName/versionCode *directly* into your `app

[2019-01-31 11:42] stealthcopter commented on #54
Ahhhhhhhh sorry I misunderstood what was happening. Thanks again for hosting your repo :)

I'll have a look at removing the variables and read up more about F-droid

[2019-01-31 14:12] IzzySoft commented on #54
If you need any help, ring the bell. As a "quick note": I could open an RFP (Request For Packaging) for your app at F-Droid. Our bot would then scan its Github repo (this one here) and check if everything is OK. If it is (what I assume), one of our "integrators" would see if it can be build. That being successful, your app's Metadata would be merged with ours, and a few days later your app should

[2019-02-22 15:51] IzzySoft commented on #54
@stealthcopter any news on this? Once you've adjusted the gradle and made a new release, we could open a packaging request (RFP) at F-Droid.

[2019-03-04 13:42] osfunapps commented on #33
@eakteam can you fork the library and show the fix you made? I too struggling with this thing. Not all devices found on the network :(

[2019-03-04 21:36] eakteam commented on #33
Hi @osfunapps , this would be great to help but i have solved it with my own implementation. I am not using this lib implementation. But i can say that the issue is happening because of native ping results. So there is a case when devices doesn't reply to ping request but in fact they are active on LAN. So just try to "play" with the ping results when executed by Android process. You may understan

[2019-03-30 09:40] fiasko131 opened #55 "How to discover the operating system"
Is there a way to discover the operating system with your library?
Thanks

[2019-04-03 08:35] Majki94 commented on #53
This can be fixed by adding proc.destroy(); at the end of ping method.
It is also good to close reader and buffer.

[2019-04-16 16:41] lcabrales commented on #51
@nikhilgarg89 Use the following method to run on the Ui thread inside `onFinished` or in `onDeviceFound`

[code]

[2019-07-10 18:11] anthowm commented on #34
I got this exception only in my release app some ideas ?

[2019-08-29 10:09] Akashdg opened #57 "Multiple ip has same MAC addresses."
When I use ARPInfo.getAllIPAndMACAddressesInARPCache() line, it returns me some IP and mac but there is one mac addresses which is same for 4 different ip. when I run "apr -a" in cmd it give me different mac that above code and cmd give me unique mac addresses.

[2019-09-09 06:27] jerrychong25 opened #58 "PortScan() blocked UI thread and caused Progress Dialog is stopped and hang"
Hi all,

I have implemented **PortScan()** function successfully.

However, it will block my Progress Dialog when running PortScan() function, whereby my Progress Dialog is called before PortScan() function.

The Progress Dialog is stopped and hang half way until the PortScan() is executed completely.

Is there any way to prevent blocking of my Progress Dialog when running PortScan() function?

Th

[2019-09-09 06:28] jerrychong25 commented on #58
Similar issue:
https://github.com/stealthcopter/AndroidNetworkTools/issues/51

[2019-09-09 06:29] jerrychong25 commented on #51
@lcabrales I have tried your solution by adding new Handler into my PortScan() function, however it still blocked my Progress Dialog and hang.

Is there any ways to prevent this blocking of Progress Dialog?

You may refer more details of my issues here: https://github.com/stealthcopter/AndroidNetworkTools/issues/51

[2019-09-17 19:25] retrostar94 opened #59 "Mac address is always null"
Whenever i scan or try to find the mac address it always returns null

[2019-09-21 11:34] jerrychong25 commented on #51
@lcabrales @nikhilgarg89

Any clues on solving this issue?

Thanks.

[2019-09-21 11:34] jerrychong25 commented on #58
@SemenovAlexander

Any updates on this?

Thanks.

[2019-11-02 11:34] IzzySoft opened #60 "Still maintained?"
Hi @stealthcopter – I'm just wondering, with the last commit being from 8/2018 and issues are left unanswered: are you still maintaining this project? Not complaining, just informal asking :wink: If you "gave up" on it, it would be good to have a clear statement on the fact (best "on the front-page", i.e. in the Readme) and maybe have the repo archived (which can be undone any time).

Thanks!

[2019-11-03 10:20] stealthcopter commented on #60
Hey @IzzySoft - no problem, thanks for asking. I'm not giving up on maintaining it just yet! But other priorities mean I don't have as much time as I'd like to focus on this. I would like to do a re-write in kotlin at some point if I find myself with excess time. I'll have quick look over the issues and fix the low-hanging fruit.

[2019-11-03 10:46] stealthcopter commented on #57
The function just parses each line in the `/proc/net/arp` file so I would imagine this mac address is appearing multiple times for the same IP in there. I'm not sure if this is a bug in the arp cache, or simply a feature I don't understand. If it's possible for you to inspect the file directly and see if there are some unexpected values in the file it would help us figure out what's going on!

Tha

[2019-11-03 10:47] stealthcopter commented on #55
Not currently with this library. We'd need to have a look at the TTL values on the packets replies from each device, I'll have a look to see if this is possible.

[2019-11-03 10:50] stealthcopter commented on #53
This fix is added into the 0.4.4 build, thanks for your help!

[2019-11-03 10:50] #53 closed

[2019-11-03 11:21] stealthcopter commented on #58
@jerrychong25 @SemenovAlexander Hi Both,

I've used the following code on android 6.0 and 9.0 and do not get UI blocking. I'll run some tests on < 6.0 and see what I get. Do you still get the blocking if you set the thread count to a low number? might be worth testing with 1.

[code]

[2019-11-03 11:24] stealthcopter commented on #51
I've just tested the sample app on android 6.0 and I'm not having any UI blocking issues. What device are you using? Try lowering the thread count in case your device is using maximum CPU and causing an  actual hang.

[2019-11-03 11:27] stealthcopter commented on #54
Next commit contains the build version name/code in the app/build.gradle
@IzzySoft Please feel free to initiate a RFP for it :)

[2019-11-03 11:29] stealthcopter commented on #52
This is strange, I know ANT and fing use similar methods for scanning the network so I'm not sure why none are returned. This is going to be a difficult one to fix as it's going to be hard to reproduce. I'll keep this issue open and hopefully will get some insight into it soon! Thanks

[2019-11-03 11:30] stealthcopter commented on #59
Can you provide your calling code so I can run some tests on it? The local device's mac address will be hidden as it is a security feature in android.

[2019-11-04 07:59] IzzySoft commented on #60
Grat to read, thanks! Looking forward to that. If you'd just ping me when a new release is ready, that'd be great! All the best!

[2019-11-04 08:06] IzzySoft commented on #54
Thanks! Put on my list and hopefully will file it this week (if someone else is faster, just go ahead :rofl:). Currently have to run, work calls :cry:

[2019-11-04 18:55] IzzySoft commented on #54
OK, [here you go](https://gitlab.com/fdroid/rfp/issues/1137). You might consider establishing [Fastlane file structure](https://gitlab.com/snippets/1895688) to provide screenshots (and also be able to maintain summary and description yourself, among other things). One place to rule them all: Fastlane Supply also ships to Play Store :wink:

[2019-11-07 14:37] stealthcopter commented on #54
@IzzySoft Thanks for this, I've added the fastlane structure and published a new release 0.4.5 let me know if there is anything else I need to do!

[2019-11-07 14:38] #60 closed

[2019-11-07 21:22] IzzySoft commented on #54
Thanks @stealthcopter – I hope `en-GB` will do (AFAIK F-Droid always defaults to `en-US` if a language isn't present; maybe a symlink would do but I cannot tell). I left a note in my RFP so the packager(s) make sure to verify. As it's not yet processed, you could of course add something and retag to make sure :wink:

[2019-11-07 21:37] IzzySoft commented on #60
Thanks for the revival! :green_heart:

[2019-11-08 13:28] stealthcopter commented on #54
@IzzySoft I've replaced it with en-US and pushed a new build out for simplicity

[2019-11-08 13:29] #45 closed

[2019-11-08 19:53] IzzySoft commented on #54
Ooops… Houston, now we have a different problem: `versionName` doesn't match the tag name anymore…

[2019-11-09 12:33] stealthcopter commented on #54
Whoops, one day I'll get this right! Have pushed a new build 0.4.5.2

[2019-11-09 23:40] IzzySoft commented on #54
:laughing: Yeah, now it fits. Updated the RFP accordingly and hope it will be picked up soon. Thanks!

[2019-11-10 08:43] jerrychong25 commented on #58
No issue on low number.

But in my application use case, I need to set setPortsAll() function so is there any other workaround for this?

[2019-12-24 05:45] beli3ver commented on #54
@IzzySoft is there any news on this?

[2019-12-24 09:57] IzzySoft commented on #54
Unfortunately not. Must have been overlooked. I've just pinged our packagers, in the hope to motivate one. Be welcome to ping there yourself should noone answer and nothing happen for another week or two.

[2019-12-25 03:43] dev4mobile commented on #59
android 10 can't fetch subnet devices mac address?

[2019-12-25 03:47] dev4mobile commented on #59
![43921577245623_ pic](https://user-images.githubusercontent.com/6851386/71431362-50fbee00-270c-11ea-865c-2c8d2bff35ab.jpg)

[2019-12-27 17:44] rmirabelle commented on #58
Related to this issue...

In my case, my `Activity` calls a method called `scan_subnet()`, which does a subnet scan.  When calling `scan_subnet()` from `onCreate()`, the `Activity` hasn't finished rendering its UI yet, and so freezes/locks up/blocks until the scan is complete.

I was able to fix this by hooking into the `onWindowFocusChanged` event instead of `onCreate` or `onResume` or even `onAt

[2020-01-18 06:24] mohamnexus opened #63 "Couldn't check ping when power saving is on"
When power saving is on, check ping has problem and failed ping.
Test on HTC One A9 , Samsung galaxy s6, and other phones (same problem)

[2020-01-27 00:15] maxto024 commented on #59
@dev4mobile  did you find solution i have same issue

[2020-02-10 18:27] Zaporozhec7 opened #64 "Android 10 and access to /proc/net/*"
https://developer.android.com/about/versions/10/privacy/changes#proc-net-filesystem

So seems this library will not work on Android 10, in part of that use "/proc/net/arp" read.

As workaround, possibly command "ip neigh show" can be used, that should be still available in Android 10. Althought I have not checked that.

[2020-02-11 10:03] stealthcopter commented on #64
@Zaporozhec7 Thanks for the info! You're right, on Android 10 the features in ARPInfo class will return empty results. I will look at adding in the data from `ip neigh show` into the next release

[2020-02-25 16:00] medozeus opened #65 "how to get 'TTL' and 'icmp_seq' when test ping also another information like how much bytes sent every time"

[2020-02-25 20:09] stealthcopter commented on #65
You can use fullstring on the PingResult to get the complete output from the ping commnand, currently there are no helper methods to obtain these. I will have a look at adding these into the next release.

[2020-02-26 21:04] medozeus opened #67 "add method for stop pinging like when setTimes(100000) and need to stop pinging"

[2020-02-27 09:40] stealthcopter commented on #67
@medozeus please use the `.cancel()` method

[2020-02-27 09:40] #67 closed

[2020-03-01 12:25] stealthcopter commented on #64
Merged in PR https://github.com/stealthcopter/AndroidNetworkTools/pull/66

[2020-03-01 12:25] #64 closed

[2020-04-03 13:59] #54 closed

[2020-04-03 19:32] stealthcopter commented on #54
@IzzySoft of course :) thanks for all your help with this!

[2020-04-03 20:57] IzzySoft commented on #54
Gladly, @stealthcopter – and I will miss it in my repo. Was there for 2.5 years now…

[2020-04-06 11:30] rahat14 opened #69 "Mac Adress is NULL"
Mac Adress retruns null in andorid 10

[2020-04-15 07:02] radheyshyamjat opened #70 "Getting FileNotFoundException on android 10"
java.io.FileNotFoundException: /proc/net/arp: open failed: EACCES (Permission denied)
2020-04-15 12:23:35.039 23238-23295/app.ping W/System.err:     at libcore.io.IoBridge.open(IoBridge.java:496)
2020-04-15 12:23:35.039 23238-23295/app.ping W/System.err:     at java.io.FileInputStream.<init>(FileInputStream.java:159)
2020-04-15 12:23:35.039 23238-23295/app.ping W/System.err:     at java.io.FileInp

[2020-04-15 08:50] stealthcopter commented on #70
@radheyshyamjat Sorry about that, this is fixed in the latest source code but I need to push out a new release, I'll get that done today!

[2020-04-15 09:04] stealthcopter commented on #70
Should be resolved by updating to the latest library version 0.4.5.3

[2020-04-15 09:04] #70 closed

[2020-04-15 09:10] radheyshyamjat commented on #70
Thanks @stealthcopter providing instant reply

[2020-06-24 14:33] jerrychong25 commented on #58
No longer using AndroidNetworkTools nowadays. Will close this issue.

Thanks all!

[2020-06-24 14:33] #58 closed

[2020-07-09 08:48] FynnJason opened #73 "When will the onError callback occur？"
when i use Ping.onAddress(),Whether or not IP can ping, perform onFinished instead of onError

[2020-07-21 14:40] BrentPollyn commented on #33
The library has the issue not to find all the devices in LAN as @eakteam stated,
Is there any update or workaround, @stealthcopter , @eakteam ?

[2020-07-21 14:45] eakteam commented on #33
@BrentPollyn , i have implemented in my app, custom subnet scanner. This library needs much changes to full support it and being compatible with Android 10+ since they disabled access to sys/arp too

[2020-07-21 14:49] BrentPollyn commented on #33
Oh, great! Can I get your help to have a creative subnet scanner class in my app?

[2020-07-21 15:01] eakteam commented on #33
@BrentPollyn , i am sorry but my source code cannot be shared. The app which contains it is : https://play.google.com/store/apps/details?id=com.eakteam.networkmanager.pro

Try to implement it yourself it is not so much to write.
I suggest you

1) First make an ip neightbour scan and cache all IP in range
2) Make a ICMP request to all IPs in range
3) Who responds get the MAC address, make a request

[2020-07-21 15:23] BrentPollyn commented on #33
Thanks for suggesting the valuable info, I just sent an email to yours (eminkokalari@gmail.com)

[2020-08-18 00:38] user8446 opened #75 "wake-on-lan error"
Hello,

I just got the latest release 0.4.5.2 from F-Droid. When doing a WOL, I get the following error:

`Could not fromIPAddress MAC address, cannot send WOL packet without it.`

Yet it pings fine. I tried the MAC in place of the IP and still get the same error. I tried a different WOL app and it works fine. Any clues?

[2020-09-16 22:00] rainmasak opened #76 "getIPAddressFromMAC returns IPv6"
getAllIPAndMACAddressesInARPCache() returns two items with same value. (one for IPv4, one for IPv6)
While iterating over keys, it encounters the wrong value first and returns the wrong key.

I suggest you either let user decide, which IP format they prefer, or check for IP pattern before return.

[2020-09-24 16:52] dovanvu1792 opened #77 "HostnameVerifier"
Google Play Security Alert - Your app is using an unsafe implementation of the HostnameVerifier
In my project use Ping and Portscaner, with targetSdkVersion 28. I received warning email from Google Play.

[2020-09-26 10:46] stealthcopter commented on #77
@dovanvu1792 I'm not getting this for any of my apps, I suspect it's caused by another library.

[2020-09-26 10:46] #77 closed

[2020-09-26 10:47] stealthcopter commented on #76
Ah good find. I will fix this in the next version!

[2020-10-15 17:19] YoannHe commented on #70
Hello,
I have the same error as well, FileNotFoundException for /proc/net/arp
There is no fix for Android 10 ?

[2020-10-26 00:30] momilc commented on #70
Me too !!

[2020-10-27 07:38] babajasoos opened #78 "gethostname should return name instead of ip address again"

[2020-10-29 16:56] ForionsAcc commented on #78
Same here, public addresses works fine but not local.

[2020-11-01 00:31] grolschie opened #79 "SubnetDevices.java - IllegalAccessError"
Hi. Randomly, one of the 'Android Vitals' tests produced this error on (only) one device:

[code]

Oracle's docs on this error:
[https://docs.oracle.com/javase/7/docs/api/java/lang/IllegalAccessError.html](https://docs.oracle.com/javase/7/docs/api/java/lang/IllegalAccessError.html)

I'm not really sure what to do about this, besides just catching it. (And yes, at some stage I plan to move away fro

[2020-11-01 01:17] grolschie commented on #36
I'm getting the IllegalAccessError also when using the SubnetDevices.java. I have created a separate [issue request](https://github.com/stealthcopter/AndroidNetworkTools/issues/79) before seeing this. I'm not seeing anything related to being out of memory though.

[2020-11-03 08:37] ForionsAcc commented on #78
Hi, this has to do with the DHCP and DNS server on your local router, is there any other way to get the device name, so its not depended on the router configs.

[2020-11-10 15:26] geek-atif opened #80 "In hostName it return IP address"
Hi team,
This is great lib but for hostname, it returns the same IP address.
Is there any way to find device OS also ?

[2020-12-13 00:40] grolschie commented on #79
Is this project dead?

[2020-12-13 13:22] stealthcopter commented on #79
@grolschie It's not quite dead, but my day job has switched away from Android development so work on this has taken a back seat. This library is still used in some of my apps, so I will likely still make infrequent updates. I welcome pull requests with fixes and improvements though.

For this error, it looks like it's just failing because no IPv4 addresses are found. Not ideal way for the library

[2020-12-14 02:27] grolschie commented on #79
Thank you for that. Understood. 👍

After posting this I'm catching that exception as well as reducing the number of threads to 128. And I haven't seen the error since (obviously). So is the reduction of threads unnecessary? 256 is ok?

By the way, thanks for this library. It was a real lifesaver for me!

[2020-12-14 20:52] M1kemclain247 opened #81 "ICMP Results inaccurate"
Hi so im noticing the ping results are not accurately showing the correct ping. is this something to do with my phone? I'm testing  on a samsung galaxy S10+ ,

int ping = ((int) result.getAverageTimeTaken());
                        Logg.write("IP : " + ip + " Ping: " + ping);

for an IP im supposed to get 210ms im getting 98ms ?? is this normal , how could i fix it?

[2020-12-14 20:54] M1kemclain247 commented on #81
Okay so im noticing its coming from the getAverageTimeTaken() - showing only 44ms

  On Run - IP : 104.197.136.10 Ping: 289
OnFINISHED: IP : 104.197.136.10 Ping: 44

[2021-01-08 20:15] seri0099 opened #82 "how to stop ping progress?"
i can't stop ping progress with cancel();

[2021-01-28 23:04] grolschie commented on #82
You will be doing network operations on a non-UI thread, so you could terminate said thread?

[2021-01-29 03:03] xiandanin commented on #70
I am using 0.4.5.3, but this problem still occurs

[code]

[code]

[2021-02-05 09:49] jayesh83 commented on #70
Yes! The issue is intact. @stealthcopter Can you please check that out once again?

[2021-04-21 16:48] Jack-Overflow commented on #70
This is still an issue.

[2021-04-24 13:18] abolfazlkalamati opened #83 "How calculate Jitter ?"
Jitter is when there is a time delay in the sending of these data packets over your network connection. This is often caused by network congestion, and sometimes route changes. Essentially, the longer data packets take to arrive, the more jitter can negatively impact the video and audio quality.
For example :

[code]

[code]

result = (diff) 173/4= 43.25

[2021-07-07 14:55] Khaos116 opened #84 "Cannot ping after setting up the proxy"
![image](https://user-images.githubusercontent.com/11989916/124781964-09475b00-df6e-11eb-9810-e2e715ffd380.png)

[2021-07-16 11:41] MacSass commented on #63
We are having the same problem.
Can or will this be fixed?
If device is in power save mode enabled, then e.g. pinstats.isReachable does not return correct status.

This library would need a fix for this, otherwise many devices will not work correctly.

[2021-07-16 11:59] stealthcopter commented on #63
This library isn't under active development right now, I'll review and accept PRs if you want to fix it though!

[2021-07-16 13:12] MacSass commented on #63
Thanks for the fast feedback, only saw your note after my comment.
Unfortunately I´m not good enough in Android programming to work on a fix myself.
Still - thanks again for your response.

[2021-08-01 11:57] ilpakg opened #86 "Download f-droid"

[2021-08-01 12:10] stealthcopter commented on #86
Closing as spam.

[2021-08-01 12:10] #86 closed

[2021-09-05 19:40] nautatva opened #87 "Android 10 doesn't give device hostname"
Hostname is filled as IP. Incorrect behaviour.

[2021-09-27 15:01] Kushagrasaxena-13 commented on #75
got idea to resolve it?

[2021-09-27 15:07] user8446 commented on #75
I don't and there hasn't been a release since so it must be a bug.

[2021-09-27 15:15] Kushagrasaxena-13 commented on #75
ohk

[2021-09-27 17:48] Kushagrasaxena-13 commented on #59
I want to work on this bug !!!

[2021-09-28 15:27] Kushagrasaxena-13 commented on #59
Hey sir please see my update . I have resolved the bug

[2021-09-28 15:28] Kushagrasaxena-13 commented on #59
@stealthcopter please see it

[2021-10-10 23:59] TayStyles-AAP commented on #59
@Kushagrasaxena-13 did you get this working? would love to finally be able to use this library in my latest build but mac is always null!

[2021-10-14 01:44] Sidr228 opened #88 "0"
// Get a MAC Address from an IP address in the ARP Cache String ipAddress = "192.168.0.1"; String macAddress = ARPInfo.getMacFromArpCache(ipAddress);

[2021-11-24 10:20] Hawkeye10km commented on #55
U fucking badass you.

[2021-11-24 10:21] Hawkeye10km commented on #55
That thing is fucking armed to huh.

[2021-11-24 10:22] Hawkeye10km commented on #65
Right. Is this my ride to school.

[2021-12-13 04:40] hungdev opened #90 "Ping doesnt work"
[Android] It always returns
![image](https://user-images.githubusercontent.com/12009276/145753423-613b8564-8a59-47fa-a0af-7d598bb6c178.png)
Here is my code
[code]

[2021-12-20 09:09] hungdev commented on #90
It doesnt work on emulator. It worked on real device.

[2021-12-20 09:09] #90 closed

[2021-12-23 09:20] huangyanxiong01 commented on #59
@TaylorStyles did you find solution i have same issue

[2021-12-30 07:58] 5hahryar opened #91 "ip neigh command does not work after upgrading targetSDK to 30"
Reading the ARP table and accessing the MAC address of devices on network is working just fine. But when you upgrade the targetSDK to 30, suddenly the "ip neigh" command won't return a value anymore.
I'm guessing this has something to do with the restrictions on android. Is there any way to fix this issue?
Note: tested on samsung galaxy s10 running android 11.

[2022-01-06 14:40] Ajstan8664890 opened #92 "Duno"

[2022-01-06 15:19] #92 closed

[2022-01-06 15:19] #88 closed

[2022-01-26 14:32] Monabr opened #93 "Ping 0.00 ms"
For every IP address ping is 0.00 ms. Internet is ok

[2022-03-03 12:05] vaikunj-gandhi opened #94 "Same port ip list"
How to optimize in ip list same port connected

[2022-03-26 02:20] ZamMoryak opened #95 "Android"

[2022-03-26 07:08] ZamMoryak opened #96 "Network Tools"

[2022-03-26 07:24] ZamMoryak opened #97 "Tool s"
https://github.com/stealthcopter/AndroidNetworkTools/issues/96

[2022-03-26 15:06] ZamMoryak opened #98 "Serf"
https://datatracker.ietf.org/doc/charter-ietf-ipsec/

[2022-04-22 14:57] phofman commented on #93
Exactly....

[code]

Gets parsed as failure with 0ms

[2022-04-22 15:08] phofman commented on #93
see the difference, when running on Android:

[code]

[2022-05-01 15:14] fulvius31 commented on #91
Hello, I did a library to fix that!
https://github.com/fulvius31/ip-neigh-sdk30

[2022-05-19 09:18] rojepp opened #99 "Subnet device scan doesn't work on Samsung"
On Samsung, I get no results at all. Also no errors. Might this be related to Android version 11?
On the Huawei device I use for development, it worked flawlessly, and that device is stuck on Android 9.

No results on Samsung Galaxy Tab S7 FE, and also a recent Samsung flagship phone, don't know the exact model.

Any ideas for what could be wrong?

[2022-05-30 01:18] ziwaHua opened #100 "Android 10 SubnetDevices.fromLocalAddress().findDevices() Throw exception"
java.io.FileNotFoundException: /proc/net/arp: open failed: EACCES (Permission denied)

[2022-06-02 01:26] sherryaperez84 opened #101 "Sub"

[2022-06-02 11:04] #101 closed

[2022-07-20 18:53] sherryaperez84 opened #102 "Me"
https://github.com/octocat

[2022-07-21 08:54] #102 closed

[2022-07-21 09:51] grolschie commented on #79
Try setting the number of threads to 128. According to the readme file, the default is 255 for this tool. I haven't had the problem since doing this. You may have to wait just a little longer for the results.

[2022-11-04 14:53] Agmcz commented on #91
Hello
I used the library and it works fine on Android 12,
but when using infinite loop there is a crash!!!
`while (true) {
    Toast.makeText(MainActivity.this, ArpNDK.getARP(), Toast.LENGTH_SHORT).show();
 }`
Please fix it.